<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://images.pexels.com/photos/1520760/pexels-photo-1520760.jpeg?cs=srgb&dl=pexels-%C4%91%E1%BB%97-ng%E1%BB%8Dc-t%C3%BA-quy%C3%AAn-1520760.jpg&fm=jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Stacey Evan</strong>
						<small>@staceee</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://images.pexels.com/photos/2269872/pexels-photo-2269872.jpeg?cs=srgb&dl=pexels-bruno-salvadori-2269872.jpg&fm=jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Michael Sachel</strong>
						<small>@msachel</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://images.pexels.com/photos/11650772/pexels-photo-11650772.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Kevin Muran</strong>
						<small>@km2022</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>